<!-- IISNode requires a web config file  -->
<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->
	
 <!--<iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" 
      interceptor="C:\Program Files\iisnode\interceptor.js" /> 
      
      *The above does not work!! The is no need to specify the pathing to the module.* 
      -->

      <!-- this is all that is required to make a node application work 
        1. Add the handler below pointing to the main.js file 
      -->

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
 <!--
    2. Add the Rewrite module. The url is the working directory the application lives in. Point it to your main.js file. 
  -->
    <rewrite>
      <rules>
        <rule name="autheku">
          <match url="/*" /> <!-- The match must be set like this for express to work  -->
          <!--You must specify the root folder that the the main app entry point starts in-->
          <action type="Rewrite" url="/autheku/index.js" />
        </rule>
      </rules>
    </rewrite>
	
    <!-- *Note: Express application will need the path of the working directory to match the route -->
  </system.webServer>

   <appSettings>
    <add key="deployPath" value="/autheku" />
  </appSettings>
</configuration>